{% extends "base.html" %}

{% block nav_blog %} class="active"{% endblock %}

{% block content %}

	<div class="k-content">
        <div class="row-fluid marg20-btm">
            <span class="span8">
			    <h3>+Saúde {% if search %}<small>busca por "{{ search }}"</small>{% endif %}</h3>
            </span>
            <span class="span4 products">
                <div class="search-form">
                    <form role="form" action="#" method="get">
                        <div class="input-append">
                          <input class="span10" id="search" type="text" name="search" placeholder="Buscar">
                          <button class="btn btn-info" type="submit"><i class="icon-search visible-phone"></i><span class="hidden-phone"><i class="icon-search"></i></span></button>
                        </div>
                    </form>
                </div>
            </span>
            <p>No nosso blog vamos contar pra você semanalmente várias dicas sobre frutas e alimentos e como elas podem contribuir para você ter muito mais saúde, acompanhe nossos posts e viva bem melhor!</p>
		</div>

		<!-- begin:content -->
        <div class="row-fluid">
            <!-- begin:elements -->
            <div class="row-fluid content-home">
                <!-- begin:blog-article -->
                <div class="span12 blog">
                    <div class="row-fluid">
                        <ul class="thumbnails">
                            <!-- begin:loop-article -->
                            <li class="span6">
                                <div class="thumbnail">
                                    <div class="thumbnail-body">
                                        <div class="wrapper-image">
                                            <a href="http://localhost:8000/mais-saude/post" title="8 Benefícios do Açai para sua Saúde">
                                                <center><img src="{{ STATIC_URL }}img/media/acai.jpg" alt=""></center>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="thumbnail-title">
                                        <h2><a href="http://localhost:8000/mais-saude/post">8 Benefícios do Açai para sua Saúde</a></h2>
                                        <p>O Açaí é o fruto do açaizeiro, Ele é fruta tipicamente brasileira e de grande importância econômica...</p>
                                    </div>
                                </div>
                            </li>
                            <!-- break -->
                            <li class="span6">
                                <div class="thumbnail">
                                    <div class="thumbnail-body">
                                        <div class="wrapper-image">
                                            <a href="http://localhost:8000/mais-saude/post" title="Abacaxi Emagrece e Elimina Líquido">
                                                <center><img src="{{ STATIC_URL }}img/media/abacaxi.jpg" alt=""></center>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="thumbnail-title">
                                        <h2><a href="http://localhost:8000/mais-saude/post">Abacaxi Emagrece e Elimina Líquido</a></h2>
                                        <p>Desde os primórdios da humanidade, as frutas possuem uma importância na dieta de todos, pois além de serem fáceis de consumir...</p>
                                    </div>
                                </div>
                            </li>
                            <!-- break -->
                            <li class="span6">
                                <div class="thumbnail">
                                    <div class="thumbnail-body">
                                        <div class="wrapper-image">
                                            <a href="http://localhost:8000/mais-saude/post" title="Os 7 Benefícios da Manga">
                                                <center><img src="{{ STATIC_URL }}img/media/manga.jpg" alt=""></center>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="thumbnail-title">
                                        <h2><a href="http://localhost:8000/mais-saude/post">Os 7 Benefícios da Manga</a></h2>
                                        <p>Além de deliciosa, fruta é rica em vitaminas e previne doenças...</p>
                                    </div>
                                </div>
                            </li>
                            <!-- break -->
                            <li class="span6">
                                <div class="thumbnail">
                                    <div class="thumbnail-body">
                                        <div class="wrapper-image">
                                            <a href="http://localhost:8000/mais-saude/post" title="Acerola Mágica">
                                                <center><img src="{{ STATIC_URL }}img/media/acerola.jpg" alt=""></center>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="thumbnail-title">
                                        <h2><a href="http://localhost:8000/mais-saude/post">Acerola Mágica</a></h2>
                                        <p>Sempre que minha imunidade está baixa e que a gripe quer me pegar, corro pra tomar suco de acerola, porque ela é...</p>
                                    </div>
                                </div>
                            </li>
                            <!-- end:loop-article -->
                        </ul>

                    </div>

                    <!--begin:pagination-->
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="pagination pagination-centered">
                                <ul>
                                    <li><a href="#">«</a></li>
                                    <li class="disabled"><a href="#">1</a></li>
                                    <li class="active"><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li><a href="#">»</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--end:pagination-->

                </div>
                <!-- end:blog-article -->

            </div>
            <!-- end:elements -->


        </div>
        <!-- end:content -->

	</div>

{% endblock content %}