{% extends "base.html" %}

{% load i18n %}

{% block nav_blog %} class="active"{% endblock %}

{% block content %}

	<div class="k-content">
        <div class="row-fluid marg20-btm">
            <span class="span8">
			    <h3>{% trans '+Saúde' %} {% if search %}<small>{% trans 'busca por' %} "{{ search }}"</small>{% endif %}</h3>
            </span>
            <span class="span4 products">
                <div class="search-form">
                    <form role="form" action="#" method="get">
                        <div class="input-append">
                          <input class="span10" id="search" type="text" name="search" placeholder="{% trans 'Buscar' %}">
                          <button class="btn btn-info" type="submit"><i class="icon-search visible-phone"></i><span class="hidden-phone"><i class="icon-search"></i></span></button>
                        </div>
                    </form>
                </div>
            </span>
            <p>{{ blog.content }}</p>
            <!-- {% trans 'No nosso blog vamos contar pra você semanalmente várias dicas sobre frutas e alimentos e como elas podem contribuir para você ter muito mais saúde, acompanhe nossos posts e viva bem melhor' %}! -->
		</div>

		<!-- begin:content -->
        <div class="row-fluid">
            <!-- begin:elements -->
            <div class="row-fluid content-home">
                <!-- begin:blog-article -->
                <div class="span12 blog">
                    <div class="row-fluid">
                        <ul class="thumbnails">
                            <!-- begin:loop-article -->
                            {% for post in posts %}
                            <li class="span6">
                                <div class="thumbnail">
                                    <div class="thumbnail-body">
                                        <div class="wrapper-image">
                                            <a href="{{ post.get_absolute_url }}" title="{{ post.title }}">
                                                <center><img src="{{ post.image.url }}" alt=""></center>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="thumbnail-title">
                                        <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
                                        {% autoescape off %}
                                        <p>{{ post.body|linebreaks|truncatewords_html:25 }}</p>
                                        {% endautoescape %}
                                    </div>
                                </div>
                            </li>
                            {% empty %}
                            <p>{% trans 'Aguardando conteúdo' %}.</p>
                            {% endfor %}
                            <!-- end:loop-article -->
                        </ul>

                    </div>

                    <!--begin:pagination-->
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="pagination pagination-centered">
                                <ul>
                                    {% if posts.has_previous %}
                                        <li><a href="?page={{ posts.previous_page_number }}">&laquo;</a></li>
                                    {% endif %}

                                    <li><a href="{{ posts.number.url }}">{% trans 'Página' %} {{ posts.number }} {% trans 'de' %} {{ posts.paginator.num_pages }}</a></li>

                                    {% if posts.has_next %}
                                        <li><a href="?page={{ posts.next_page_number }}">&raquo;</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--end:pagination-->

                </div>
                <!-- end:blog-article -->

            </div>
            <!-- end:elements -->


        </div>
        <!-- end:content -->

	</div>

{% endblock content %}
