{% extends "base.html" %}

{% block nav_blog %} class="active"{% endblock %}

{% block content %}

	<div id="content-row">
		<div class="row-container">
			<div class="container">
				<div class="content-inner row">
					<div id="component" class="span12">
						<div id="system-message-container">
							<div id="system-message"></div>
						</div>
						<div class="page-item page-item__blog page-item__">
							<div class="page-header">
								<h3><span class="item_title_part0">Blog</span></h3>
							</div>
							<div class="info">
								<div class="item_published">
									<strong>22</strong>
									Nov
								</div>
							</div>
							<div class="item_content">
								<div class="item_header">
									<h4 class="item_title">
										<span class="item_title_part0">Nulla</span>
										<span class="item_title_part1">consectetur</span>
										<span class="item_title_part2">adipiscing</span>
										<span class="item_title_part3">metus</span>
									</h4>
								</div>
								<div class="item_info">
									<dl class="item_info_dl">
										<dd>
											<div class="item_createdby">posted by Super User</div>
										</dd>
									</dl>
								</div>
								<div class="item_img img-full img-full__none item-image">
									<img src="{{ STATIC_URL }}images/blog/blog-img4.jpg" alt="">
								</div>
								<div class="item_fulltext">
									<p>In neque arcu, vulputate vitae dignissim id, placerat adipiscing lorem. Nulla consectetur adipiscing metus vel pulvinar. Aenean molestie mauris non diam tincidunt faucibus. Integer odio dui, iaculis in congue eleifend, faucibus nec diam. Maecenas ac est odio, at dignissim dolor. Quisque gravida, purus vitae varius sagittis, odio erat venenatis nibh, eu interdum diam est eu sem. Vivamus luctus lectus sit amet lectus egestas cursus.</p>

									<p><strong>Donec eu elit in nisi placerat</strong> tincidunt in eu sapien. Proin odio nunc, interdum vel malesuada pretium, fringilla sit amet metus. Cras nunc velit, porta eget scelerisque a, malesuada at ligula. Etiam sed ipsum sed justo tincidunt pretium. Nunc accumsan sollicitudin mauris, a luctus risus varius in. Proin eget quam urna, vitae viverra diam. Phasellus eget ante et quam commodo sodales. <a href="#" target="_self">Vivamus placerat</a> hendrerit dolor, eu imperdiet mi volutpat pulvinar. In ut massa ac risus elementum pretium mattis et elit. Maecenas vel nibh et ligula vehicula consectetur ut dignissim libero. Ut felis ipsum, tristique in faucibus in, aliquam eu est.</p>

									<p><strong>Vivamus congue turpis</strong> in augue pellentesque scelerisque. Pellentesque aliquam laoreet sem nec ultrices. Fusce blandit nunc vehicula massa vehicula tincidunt. Nam venenatis cursus urna sed gravida. Ut tincidunt elit ut quam malesuada consequat. Sed semper purus sit amet lorem elementum faucibus. Aenean nec semper sem. Ut quis ligula eget purus mollis dictum eu vel odio. Curabitur eu dignissim velit. <a href="#" target="_self">Duis aliquet bibendum</a> libero, eu tristique arcu dapibus vitae. Pellentesque pellentesque enim eget leo viverra sed egestas dolor pulvinar. Quisque in sollicitudin lacus. Mauris congue mi eu nunc tempor volutpat. Nulla facilisi.</p>

									<p><strong>Ut sit amet dui erat</strong>, et iaculis justo. Vestibulum commodo mollis ullamcorper. <a href="#" target="_self">Aliquam arcu leo</a>, mattis sed laoreet ac, ultrices eu orci. Curabitur congue eros ac turpis ultrices mattis. Etiam iaculis aliquam ornare. Donec tincidunt, tellus a ultricies consequat, purus est fringilla turpis, ac vestibulum enim tellus a eros. Fusce ipsum magna, placerat sed molestie ac, semper eget mauris.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
    <div id="push"></div>

{% endblock content %}