{% extends "base.html" %}

{% block nav_talent %} class="active"{% endblock %}

{% block content %}

    <div class="k-content">
        <div class="row-fluid">
            <h3>Trabalhe Conosco</h3>
            {% for p in page %}
            <img class="k-top marg20-btm" src="{{ p.image.url }}">
            <p>{{ p.content }}</p>
            {% endfor %}
        </div>
        <!-- Curriculo -->
        <div class="row-fluid marg30-top">
            <div class="contact-details">
                <div class="span7">
                    <h3>Envie seu currículo</h3>
                    <form enctype="multipart/form-data" method="post" action="." role="form">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="controls">
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {{ field }}
                                {{ field.errors }}
                            </div>
                        {% endfor %}
                        <button name="enviar" class="btn validate btn-primary" type="submit">Enviar Currículo</button>
                    </form>
                </div>
                <div class="span1"></div>
                <div class="span4">
                    <h3>Contato</h3>
                    <i class="icons-marker icon-home"></i>
                    <div class="contact-address">
                        {{ enterprise.address }}, {{ enterprise.number }}<br>
                        {{ enterprise.complement }}, {{ enterprise.district }}<br>
                        {{ enterprise.city }}/{{ enterprise.state }}, {{ enterprise.cep }}<br>
                    </div>
                    <i class="icons-marker icon-phone"></i>
                    <div>{{ enterprise.phone1 }}</div>
                    {% if enterprise.phone2 %}
                    <i class="icons-marker icon-phone"></i>
                    <div>{{ enterprise.phone2 }}</div>
                    {% endif %}
                    {% if enterprise.phone3 %}
                    <i class="icons-marker icon-print"></i>
                    <div>{{ enterprise.phone3 }}</div>
                    {% endif %}
                    <i class="icons-marker icon-envelope"></i>
                    <div><span>{{ enterprise.email }}</span></div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
