{% extends "base.html" %}

{% block nav_talent %} class="active"{% endblock %}

{% block content %}
    <div class="k-content">
        <div class="row-fluid">
            <h3>Trabalhe Conosco</h3>
            <img class="k-top" src="{{ STATIC_URL }}img/trabalhe_conosco_canaa.jpg">
        </div>

        <div class="row-fluid marg30-top">
            <div class="contact-details">
                <div class="span7">
                    <h3>Envie seu currículo</h3>
                    <p>Parabéns {{ talent.name }}, seu curriculo foi enviado com sucesso!</p>
                    <p>Em breve, entraremos em contato pelo
                        {% if talent.phone1 %}
                            fone: {{ talent.phone1 }}
                        {% else %}
                            email: {{ talent.email }}
                        {% endif %}.
                    </p>
                    <p><a class="btn validate btn-primary" href="{% url 'talent' %}">Voltar</a></p>
                    <br>
                </div>
                <div class="span1"></div>
                <div class="span4">
                    <h3>Contato</h3>
                    <i class="icons-marker icon-home"></i>
                    <div class="contact-address">
                        {{ enterprise.address }}, {{ enterprise.number }}<br>
                        {{ enterprise.complement }}, {{ enterprise.district }}<br>
                        {{ enterprise.city }}/{{ enterprise.state }}, {{ enterprise.cep }}<br>
                    </div>
                    <i class="icons-marker icon-phone"></i>
                    <div>{{ enterprise.phone1 }}</div>
                    {% if enterprise.phone2 %}
                    <i class="icons-marker icon-phone"></i>
                    <div>{{ enterprise.phone2 }}</div>
                    {% endif %}
                    {% if enterprise.phone3 %}
                    <i class="icons-marker icon-print"></i>
                    <div>{{ enterprise.phone3 }}</div>
                    {% endif %}
                    <i class="icons-marker icon-envelope"></i>
                    <div><span>{{ enterprise.email }}</span></div>
                </div>
            </div>
        </div>
    </div>
    <!-- end:content -->
{% endblock content %}
