Você recebeu o seguinte currículo através do site da <a href="http://fipel.ind.br"><strong>Fipel</strong></a>:

Nome: <strong>{{ name }}</strong>
Fone: <strong>{{ phone }}</strong>
E-mail: <strong>{{ email }}</strong>

Para ver o restante das informações e outros currículos:
1 - Acesse: <a href="http://fipel.ind.br/admin"><strong>http://fipel.ind.br/admin</strong></a>
2 - Digite seu <strong>login</strong> e <strong>senha</strong>
3 - Entre no menu <strong>Talentos</strong>
4 - Gerencie todos os currículos