{% extends "base.html" %}

{% block content %}
    <!-- begin:home-slider -->
    <div class="row-fluid">
        <div class="k-created banner span12">
            <h1>
                <span>O Sabor da Natureza,</span><br>
                <span>Polpas de Fruta Canaã.</span>
            </h1>
            <a class="btn btn-info" href="/institucional/"><span>conheça nossa empresa</span></a>
        </div>
    </div>
    <!-- end:home-slider -->

    <!-- begin:item -->
    <div class="row-fluid k-prod">

        <div class="span3 k-item k-item_num0">
            <div class="k-item_img">
                <a href="/produtos/itens/">
                    <img src="{{ STATIC_URL }}/img/media/polpa_canaa_manga.jpg" alt="" style="width: 140px;">
                </a>
            </div>
            <div class="k-item_content k-item_num0">
                <h4><a href="/produtos/itens/">Manga</a></h4>
                <div class="k-item_introtext">
                    <p>Nertyase riertases lertyarssety kertyace aseteras aplicaboes kerti.</p>
                </div>
                <a class="btn btn-k-item_num0 btn-small" href="/produtos/itens/"><span>veja mais</span></a>
            </div>
        </div>
        <div class="span3 k-item k-item_num1">
            <div class="k-item_img">
                <a href="/produtos/itens/">
                    <img src="{{ STATIC_URL }}/img/media/polpa_canaa_manga.jpg" alt="" style="width: 140px;">
                </a>
            </div>
            <div class="k-item_content k-item_num1">
                <h4><a href="/produtos/itens/">Manga</a></h4>
                <div class="k-item_introtext">
                    <p>Nertyase riertases lertyarssety kertyace aseteras aplicaboes kerti.</p>
                </div>
                <a class="btn btn-k-item_num1 btn-small" href="/produtos/itens/"><span>veja mais</span></a>
            </div>
        </div>
        <div class="span3 k-item k-item_num2">
            <div class="k-item_img">
                <a href="/produtos/itens/">
                    <img src="{{ STATIC_URL }}/img/media/polpa_canaa_manga.jpg" alt="" style="width: 140px;">
                </a>
            </div>
            <div class="k-item_content k-item_num2">
                <h4><a href="/produtos/itens/">Manga</a></h4>
                <div class="k-item_introtext">
                    <p>Nertyase riertases lertyarssety kertyace aseteras aplicaboes kerti.</p>
                </div>
                <a class="btn btn-k-item_num2 btn-small" href="/produtos/itens/"><span>veja mais</span></a>
            </div>
        </div>
        <div class="span3 k-item k-item_num3">
            <div class="k-item_img">
                <a href="/produtos/itens/">
                    <img src="{{ STATIC_URL }}/img/media/polpa_canaa_manga.jpg" alt="" style="width: 140px;">
                </a>
            </div>
            <div class="k-item_content k-item_num3">
                <h4><a href="#">Manga</a></h4>
                <div class="k-item_introtext">
                    <p>Nertyase riertases lertyarssety kertyace aseteras aplicaboes kerti.</p>
                </div>
                <a class="btn btn-k-item_num3 btn-small" href="/produtos/itens/"><span>veja mais</span></a>
            </div>
        </div>

    </div>
    <!-- end:item -->

    <!-- begin:content -->
    <div class="row-fluid k-blog">
        <!-- begin:blog -->
        <div class="span3 k-item">
            <div class="k-item_img">
                <a href="/mais-saude/post/">
                    <img src="{{ STATIC_URL }}img/media/acai.jpg" alt="">
                </a>
            </div>
            <div class="k-item_content">
                    <h3>8 Benefícios do Açai para sua Saúde</h3>
                <div class="k-item_introtext">
                    <p>O Açaí é o fruto do açaizeiro, Ele é fruta tipicamente brasileira e de grande importância econômica...</p>
                </div>
                <a class="btn btn-red btn-small" href="/mais-saude/post/"><span>veja mais</span></a>
            </div>
        </div>
        <div class="span3 k-item">
            <div class="k-item_img">
                <a href="/mais-saude/post/">
                    <img src="{{ STATIC_URL }}img/media/abacaxi.jpg" alt="">
                </a>
            </div>
            <div class="k-item_content">
                <h3>Abacaxi Emagrece e Elimina Líquido</h3>
                <div class="k-item_introtext">
                    <p>Desde os primórdios da humanidade, as frutas possuem uma importância na dieta de...</p>
                </div>
                <a class="btn btn-red btn-small" href="/mais-saude/post/"><span>veja mais</span></a>
            </div>
        </div>
        <div class="moduletable k-offer span6">
            <h1 class="moduleTitle ">Refresco Em Pó Natural</h1>
            <div class="mod-article-single mod-article-single__offer">
                <div class="item__module">
                    <div class="item_introtext">
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>
                        <a class="btn btn-danger" href="/produtos/"><span>conheça nossa linha de refresco em pó</span></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- end:blog -->

    </div>
    <!-- end:content -->
{% endblock %}