{% extends "base.html" %}

{% block nav_body %}{{ bannerone.image.url }}{% endblock %}

{% block content %}
    <!-- begin:home-slider -->
    <div class="row-fluid">
        <div class="k-created banner span12">
            <h1>
                {% autoescape off %}
                <span>{{ bannerone.title|linebreaks }}</span>
                {% endautoescape %}
            </h1>
            <a class="btn btn-info" href="/{{ bannerone.link }}/">
                <span>{{ bannerone.label }}</span>
            </a>
        </div>
    </div>
    <!-- end:home-slider -->

    <!-- begin:item -->
    <div class="row-fluid k-prod">
        {% for p in products %}
        <div class="span3 k-item k-item_num{{ forloop.counter }}">
            <div class="k-item_img">
                <a href="{{ p.get_absolute_url }}">
                    <img src="{{ p.image.url }}" alt="{{ p.name }}" style="width: 140px;">
                </a>
            </div>
            <div class="k-item_content k-item_num{{ forloop.counter }}">
                <h4><a href="/produtos/itens/">{{ p.name }}</a></h4>
                <div class="k-item_introtext">
                    <p>{{ p.description|truncatewords_html:18 }}</p>
                </div>
                <a class="btn btn-k-item_num{{ forloop.counter }} btn-small" href="{{ p.get_absolute_url }}">
                    <span>veja mais</span>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- end:item -->

    <!-- begin:content -->
    <div class="row-fluid k-blog">
        <!-- begin:blog -->
        {% for b in posts %}
        <div class="span3 k-item">
            <div class="k-item_img">
                <a href="{{ b.get_absolute_url }}">
                    <img src="{{ b.image.url }}" alt="{{ b.title }}" width="209" height="142">
                </a>
            </div>
            <div class="k-item_content">
                    <h3>{{ b.title }}</h3>
                <div class="k-item_introtext">
                    <p>{{ b.body|truncatewords_html:20 }}</p>
                </div>
                <a class="btn btn-red btn-small" href="{{ b.get_absolute_url }}">
                    <span>veja mais</span>
                </a>
            </div>
        </div>
        {% endfor %}
        <div class="moduletable k-offer span6">
            <h1 class="moduleTitle ">{{ bannertwo.title }}</h1>
            <div class="mod-article-single mod-article-single__offer">
                <div class="item__module">
                    <div class="item_introtext">
                        <p>{{ bannertwo.text }}</p>
                        <a class="btn btn-danger" href="/{{ bannertwo.link }}/">
                            <span>{{ bannertwo.label }}</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- end:blog -->

    </div>
    <!-- end:content -->
{% endblock %}
