{% extends "base.html" %}

{% block nav_marketing %} class="active"{% endblock %}

{% block content %}

    <div id="content-row">
        <div class="row-container">
            <div class="container">
                <div class="content-inner row">
                    <div id="component" class="span12">
                        <div id="system-message-container">
                            <div id="system-message">
                            </div>
                        </div>
                        <div class="page-blog page-blog__">
                            <div class="page_header">
                                <h3><span class="item_title_part0">Marketing</span></h3>
                            </div>
                            <div class="items-row cols-1 row-0 row-fluid">
                                <div class="span12">
                                    <div class="item column-1">
                                        <div class="info">
                                            <!--
                                            <div class="item_published">
                                                <strong>22</strong>
                                                Nov
                                            </div>
                                            <div class="kmt-readon">
                                                <span class="kmt-comment aligned-left">
                                                    <a href="http://livedemo00.template-help.com/joomla_48261/index.php/blog/39-nulla-consectetur-adipiscing-metus#section-kmt">0</a>
                                                </span>
                                            </div>
                                            -->
                                        </div>
                                        <div class="item_content">
                                            <div class="item_img img-intro marketing">
                                            <!--
                                                <iframe src="//player.vimeo.com/video/99541639" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/99541639">Plurabelle - Our Fires</a> from <a href="http://vimeo.com/mattisdovier">Mattis Dovier</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
                                             -->

                                                <video controls>
                                                    <source src="video.mp4" type="video/mp4">
                                                    <object>
                                                        <embed src="video.mp4" type= "application/x-shockwave-flash" allowfullscreen="false" allowscriptaccess="always" />
                                                    </object>
                                                    <p>O seu navegador não suporta esse vídeo.</p>
                                                </video>
                                            </div>
                                            <div class="item_header">
                                                <h4 class="item_title">
                                                    <!--<a href="#">-->
                                                        <span class="item_title_part0">Nulla</span>
                                                        <span class="item_title_part1">consectetur</span>
                                                        <span class="item_title_part2">adipiscing</span>
                                                        <span class="item_title_part3">metus</span>
                                                    <!--</a>-->
                                                </h4>
                                            </div>
                                            <!--
                                            <div class="item_info">
                                                <dl class="item_info_dl">
                                                    <dd>
                                                        <div class="item_createdby">posted by Super User</div>
                                                    </dd>
                                                </dl>
                                            </div>
                                            -->
                                            <div class="item_introtext">
                                                <p>In neque arcu, vulputate vitae dignissim id, placerat adipiscing lorem. Nulla consectetur adipiscing metus vel pulvinar. Aenean molestie mauris non diam tincidunt faucibus. Integer odio dui, iaculis in congue eleifend, faucibus nec diam. Maecenas ac est odio, at dignissim dolor. Quisque gravida, purus vitae varius sagittis, odio erat venenatis nibh, eu interdum diam est eu sem. Vivamus luctus lectus sit amet lectus egestas cursus.</p>
                                            </div>
                                            <!--
                                            <a class="btn btn-info" href="http://localhost:8000/mais-saude/post">
                                                <span>Leia Mais</span>
                                            </a>
                                            -->
                                        </div>
                                    </div>
                                </div>
                            </div>
<!--
                            <div class="items-row cols-1 row-1 row-fluid">
                                <div class="span12">
                                    <div class="item column-1">
                                        <div class="item_content">
                                            <div class="item_img img-intro marketing">
                                                <img src="{{ STATIC_URL }}images/blog/blog-thumb5.jpg" alt="">
                                            </div>
                                            <div class="item_header">
                                                <h4 class="item_title">
                                                    <span class="item_title_part0">Placerat</span>
                                                    <span class="item_title_part1">adipiscing</span>
                                                    <span class="item_title_part2">lorem</span>
                                                </h4>
                                            </div>
                                            <div class="item_introtext">
                                                <p>In neque arcu, vulputate vitae dignissim id, placerat adipiscing lorem. Nulla consectetur adipiscing metus vel pulvinar. Aenean molestie mauris non diam tincidunt faucibus. Integer odio dui, iaculis in congue eleifend, faucibus nec diam. Maecenas ac est odio, at dignissim dolor. Quisque gravida, purus vitae varius sagittis, odio erat venenatis nibh, eu interdum diam est eu sem. Vivamus luctus lectus sit amet lectus egestas cursus.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="items-row cols-1 row-2 row-fluid">
                                <div class="span12">
                                    <div class="item column-1">
                                        <div class="item_content">
                                            <div class="item_img img-intro marketing">
                                                <img src="{{ STATIC_URL }}images/blog/blog-thumb6.jpg" alt="">
                                            </div>
                                            <div class="item_header">
                                                <h4 class="item_title">
                                                    <span class="item_title_part0">Proin</span>
                                                    <span class="item_title_part1">eget</span>
                                                    <span class="item_title_part2">quam</span>
                                                    <span class="item_title_part3">urna,</span>
                                                    <span class="item_title_part4">vitae</span>
                                                </h4>
                                            </div>
                                            <div class="item_introtext">
                                                <p>In neque arcu, vulputate vitae dignissim id, placerat adipiscing lorem. Nulla consectetur adipiscing metus vel pulvinar. Aenean molestie mauris non diam tincidunt faucibus. Integer odio dui, iaculis in congue eleifend, faucibus nec diam. Maecenas ac est odio, at dignissim dolor. Quisque gravida, purus vitae varius sagittis, odio erat venenatis nibh, eu interdum diam est eu sem. Vivamus luctus lectus sit amet lectus egestas cursus.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                             -->
                            <div class="pagination">
                                <ul>
                                    <li class="pagination-start firstItem">
                                        <a data-original-title="Início" title="" href="#" class="hasTooltip pagenav">Início</a>
                                    </li>
                                    <li class="pagination-prev">
                                        <a data-original-title="Anterior" title="" href="#" class="hasTooltip pagenav">Anterior</a>
                                    </li>
                                    <li class="num">
                                        <a href="#" class="pagenav">1</a>
                                    </li>
                                    <li class="num">
                                        <span class="pagenav">2</span>
                                    </li>
                                    <li class="num">
                                        <a href="#" class="pagenav">3</a>
                                    </li>
                                    <li class="pagination-next">
                                        <a data-original-title="Próxima" title="" href="#" class="hasTooltip pagenav">Proxíma</a>
                                    </li>
                                    <li class="pagination-end lastItem">
                                        <a data-original-title="Fim" title="" href="#" class="hasTooltip pagenav">Fim</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="push"></div>

{% endblock content %}