{% extends "base.html" %}

{% block nav_sellers %} class="active"{% endblock %}

{% block content %}

    <div class="k-content">
        <div class="row-fluid">
            <h3>Representantes</h3>
            <img class="k-top marg20-btm" src="{{ sale.image.url }}" width="100%">
            <p>{{ sale.content }}</p>
        </div>

        <!-- Search -->
        <div class="row-fluid marg30-top">
            <span class="span7">
                <h4>Representantes e Distribuidores {% if search %}<small>busca por "{{ search }}"</small>{% endif %}</h4>
            </span>
            <span class="span5">
                <div class="search-form">
                    <form role="form" action="#" method="get">
                        <div class="input-append">
                          <input class="span10" id="search" type="text" name="search" placeholder="Buscar">
                          <button class="btn btn-info" type="submit"><i class="icon-search visible-phone"></i><span class="hidden-phone"><i class="icon-search"></i></span></button>
                        </div>
                    </form>
                </div>
            </span>
        </div>

        <!-- sellers -->
        <div class="row-fluid marg20-btm">
            <table cellspacing="0" width="100%">
                <tbody>
                    <tr>
                        <th>Nome</th>
                        <th>Fone</th>
                        <th>Email</th>
                        <th>Tipo</th>
                        <th>UF</th>
                    </tr>
                    {% for seller in sellers %}
                    <tr class="{% if forloop.counter|divisibleby:2 %}even{% endif %}">
                        <td>{{ seller.name }}</td>
                        <td>{{ seller.phone }}</td>
                        <td>{{ seller.email }}</td>
                        <td>{{ seller.get_type_display }}</td>
                        <td>{{ seller.state }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="5" align="center"><br>Nenhum Representante/Distribuidor encontrado.<br><br></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="pagination pagination-centered">
                <ul>
                    {% if sellers.has_previous %}
                        <li><a href="?page={{ sellers.previous_page_number }}">&laquo;</a></li>
                    {% endif %}

                    <li><a href="{{ sellers.number.url }}">Página {{ sellers.number }} de {{ sellers.paginator.num_pages }}</a></li>

                    {% if sellers.has_next %}
                        <li><a href="?page={{ sellers.next_page_number }}">&raquo;</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>

    </div>

{% endblock content %}
