{% extends "base.html" %}

{% block nav_sellers %} class="active"{% endblock %}

{% block content %}

    <div class="k-content">
        <div class="row-fluid">
            <h3>Representantes</h3>
            <img class="k-top marg20-btm" src="{{ STATIC_URL }}img/vendas_canaa.jpg">
            <p>Breve texto sobre a entrega de protudos e alcance territorial...</p>
        </div>

        <!-- Search -->
        <div class="row-fluid marg30-top">
            <span class="span8">
                <h4>Representantes e Distribuidores {% if search %}<small>busca por "{{ search }}"</small>{% endif %}</h4>
            </span>
            <span class="span4">
                <div class="search-form">
                    <form role="form" action="#" method="get">
                        <div class="input-append">
                          <input class="span10" id="search" type="text" name="search" placeholder="Buscar">
                          <button class="btn btn-info" type="submit"><i class="icon-search visible-phone"></i><span class="hidden-phone"><i class="icon-search"></i></span></button>
                        </div>
                    </form>
                </div>
            </span>
        </div>

        <!-- sellers -->
        <div class="row-fluid marg20-btm">
            <table cellspacing="0" width="100%">
                <tbody>
                    <tr>
                        <th>Nome</th>
                        <th>Fone</th>
                        <th>Email</th>
                        <th>Tipo</th>
                        <th>UF</th>
                    </tr>
                    <tr>
                        <td>Kleber Soares</td>
                        <td>(00) 0000-0000</td>
                        <td>kleber@jookle.com.br</td>
                        <td>Distribuidor</td>
                        <td>PE</td>
                    </tr>
                    <tr class='even'>
                        <td>Kleber Soares</td>
                        <td>(00) 0000-0000</td>
                        <td>kleber@jookle.com.br</td>
                        <td>Representante</td>
                        <td>SP</td>
                    </tr>
                    <tr>
                        <td>Kleber Soares</td>
                        <td>(00) 0000-0000</td>
                        <td>kleber@jookle.com.br</td>
                        <td>Representante</td>
                        <td>RN</td>
                    </tr>
                    <tr class='even'>
                        <td>Kleber Soares</td>
                        <td>(00) 0000-0000</td>
                        <td>kleber@jookle.com.br</td>
                        <td>Distribuidor</td>
                        <td>DF</td>
                    </tr>
                </tbody>
            </table>
            <div class="pagination pagination-centered">
                <ul>
                    <li><a href="#">«</a></li>
                    <li class="disabled"><a href="#">1</a></li>
                    <li class="active"><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">»</a></li>
                </ul>
            </div>
        </div>

    </div>

{% endblock content %}