{% extends "base.html" %}

{% block nav_sellers %} class="active"{% endblock %}

{% block content %}

    <div id="content-row">
        <div class="row-container">
            <div class="container">
                <div class="content-inner row">
                    <div id="component" class="span12 sellers">
                        <div id="system-message-container">
                            <div id="system-message"></div>
                        </div>
                        <div class="page page-contact page-contact__">
                            <div class="page_header">
                                <h3><span class="item_title_part0">Representantes</span></h3>
                            </div>
                            <div style="width: 100%; padding-bottom: 40px;">
                                <img src="{{ STATIC_URL }}images/representantes_canaa.jpg" style="border: 1px solid #e1e1e1;">
                            </div>
                            <!-- Address -->
                            <div class="row-fluid">
                                <div class="contact_details">
                                    <div class="contact_details_item span6">
                                        <h4>Distribuidores</h4>

                                        <div class="contact_address">
                                            <table width="100%">
                                                <tr>
                                                    <th>Nome</th>
                                                    <th>Fone</th>
                                                    <th>Email</th>
                                                    <th>UF</th>
                                                </tr>
                                                <tr>
                                                    <td>Kleber Soares</td>
                                                    <td>(00) 0000-0000</td>
                                                    <td>kleber@jookle.com.br</td>
                                                    <td>PE</td>
                                                </tr>
                                                <tr>
                                                    <td>Kleber Soares</td>
                                                    <td>(00) 0000-0000</td>
                                                    <td>kleber@jookle.com.br</td>
                                                    <td>SP</td>
                                                </tr>
                                                <tr>
                                                    <td>Kleber Soares</td>
                                                    <td>(00) 0000-0000</td>
                                                    <td>kleber@jookle.com.br</td>
                                                    <td>RN</td>
                                                </tr>
                                                <tr>
                                                    <td>Kleber Soares</td>
                                                    <td>(00) 0000-0000</td>
                                                    <td>kleber@jookle.com.br</td>
                                                    <td>DF</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                    <!--
                                    <div class="contact_details_item span1">
                                    </div>
                                     -->
                                    <div class="contact_details_item span6">
                                        <h4>Vendedores</h4>

                                        <div class="contact_address">
                                            <table width="100%">
                                                <tr>
                                                    <th>Nome</th>
                                                    <th>Fone</th>
                                                    <th>Email</th>
                                                    <th>UF</th>
                                                </tr>
                                                <tr>
                                                    <td>Kleber Soares</td>
                                                    <td>(00) 0000-0000</td>
                                                    <td>kleber@jookle.com.br</td>
                                                    <td>PE</td>
                                                </tr>
                                                <tr>
                                                    <td>Kleber Soares</td>
                                                    <td>(00) 0000-0000</td>
                                                    <td>kleber@jookle.com.br</td>
                                                    <td>PB</td>
                                                </tr>
                                                <tr>
                                                    <td>Kleber Soares</td>
                                                    <td>(00) 0000-0000</td>
                                                    <td>kleber@jookle.com.br</td>
                                                    <td>SP</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="push"></div>

{% endblock content %}