.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 32px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*======================= TYPOGRAPHY =======================*/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  color: #486E8A; /*#ff4e3d;*/
}
h1 {
  font-family: 'Bevan', cursive;
  color: #fff;
  font-weight: normal;
  font-size: 56px;
  line-height: 55px;
  margin-bottom: 20px;
}
h2 {
  font-family: 'Bevan', cursive;
  color: #fff;
  font-weight: normal;
  font-size: 48px;
  line-height: 55px;
  margin-bottom: 18px;
}
h3 {
  font-family: 'Bevan', cursive;
  color: #2f2f2f;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
}
h4 {
  color: #616161;
  font-weight: normal;
  font-family: 'Bevan', cursive;
  font-size: 26px;
  line-height: 32px;
  margin: 0 0 24px;
  font-style: normal;
}
h5 {
  font-family: 'Bevan', cursive;
  color: #fff;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  margin: 0;
}
h6 {
  font-size: 20px;
  line-height: 28px;
  font-weight: normal;
  color: #486E8A; /*#ff4e3d;*/
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 14px;
}
h6 a {
  color: inherit;
}
h6 a:hover {
  color: #1e1e1e;
}
.alert-heading {
  color: inherit;
}
p {
  margin: 0;
  padding-bottom: 22px;
}
.icons-marker {
  font-size: 16.8px;
  line-height: 22px;
}
/*Buttons*/
.btn {
  padding: 4px 14px;
  font-size: 14px;
  line-height: 22px;
  background: #ffffff;
  color: #434343;
  text-shadow: none;
  border: 1px solid #e6e6e6;
  border-bottom-color: #e6e6e6;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.btn:hover {
  text-decoration: none;
  background: #e6e6e6;
  color: #000000;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.btn-primary {
  color: #1e1e1e;
  text-shadow: none;
  background-color: #f2f2f2;
  background-image: -moz-linear-gradient(top, #f4f4f4, #eeeeee);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#eeeeee));
  background-image: -webkit-linear-gradient(top, #f4f4f4, #eeeeee);
  background-image: -o-linear-gradient(top, #f4f4f4, #eeeeee);
  background-image: linear-gradient(to bottom, #f4f4f4, #eeeeee);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff4f4f4', endColorstr='#ffeeeeee', GradientType=0);
  border-color: #eeeeee #eeeeee #c8c8c8;
  *background-color: #eeeeee;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: none;
  font-size: 12px;
  /*text-transform: lowercase;*/
  padding: 0 20px;
  -webkit-border-radius: 1000px;
  -moz-border-radius: 1000px;
  border-radius: 1000px;
  line-height: 32px;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  outline: none !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  color: #1e1e1e;
  background-color: #eeeeee;
  *background-color: #e1e1e1;
}
.btn-primary:active,
.btn-primary.active {
  background-color: #d5d5d5 \9;
}
.btn-primary:hover {
  background: #4a4a4a;
  color: #ffffff;
}
.btn-primary.submitButton {
  float: right;
}
.btn-primary.disabled {
  opacity: 1;
  filter: alpha(opacity=100);
  background: #4a4a4a;
  color: #ffffff;
}
.btn-info {
  color: #1e1e1e;
  text-shadow: none;
  background-color: #f2f2f2;
  background-image: -moz-linear-gradient(top, #f4f4f4, #eeeeee);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#eeeeee));
  background-image: -webkit-linear-gradient(top, #f4f4f4, #eeeeee);
  background-image: -o-linear-gradient(top, #f4f4f4, #eeeeee);
  background-image: linear-gradient(to bottom, #f4f4f4, #eeeeee);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff4f4f4', endColorstr='#ffeeeeee', GradientType=0);
  border-color: #eeeeee #eeeeee #c8c8c8;
  *background-color: #eeeeee;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: none;
  font-size: 12px;
  text-transform: lowercase;
  padding: 0 20px;
  -webkit-border-radius: 1000px;
  -moz-border-radius: 1000px;
  border-radius: 1000px;
  line-height: 32px;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  outline: none !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
  color: #1e1e1e;
  background-color: #eeeeee;
  *background-color: #e1e1e1;
}
.btn-info:active,
.btn-info.active {
  background-color: #d5d5d5 \9;
}
.btn-info:hover {
  background: #4a4a4a;
  color: #ffffff;
}
#searchForm .btn.btn-primary {
  height: 32px;
}
/*Lists*/
ul.categories-module h5 {
  font-size: 1em;
  line-height: inherit;
  font-weight: normal;
  margin: 0;
}
/*Pagination*/
.pagination {
  height: auto;
  margin: 0;
  padding: 0 0 20px;
}
.pagination ul {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: none;
  box-shadow: none;
  margin: 0 auto;
  width: 100%;
  text-align: left;
}
.pagination ul li {
  display: inline-block;
}
.pagination ul li .pagenav,
.pagination ul li .hasTooltip {
  text-transform: lowercase;
  color: #555555;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  border: none;
  box-shadow: none;
}
.pagination ul li span.pagenav,
.pagination ul li .span.hasTooltip {
  color: #555555;
}
.pagination ul li a.pagenav,
.pagination ul li a.hasTooltip {
  color: #486E8A; /*#ff4e3d;*/
}
.pagination ul li a.pagenav:hover,
.pagination ul li a.hasTooltip:hover {
  background: none;
  color: #1e1e1e;
}
.pagination ul li.num span.pagenav,
.pagination ul li.num span.hasTooltip {
  color: #1e1e1e;
}
/*Forms*/
input[type='radio'],
input[type='checkbox'] {
  margin: 3px 0 0;
}
/* Images */
.item_img,
.category_img {
  margin-bottom: 22px;
  position: relative;
}
.item_img {
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.item_img a {
  position: relative;
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.item_img a:after {
  content: '\f14d';
  font-family: FontAwesome;
  position: absolute;
  left: 0;
  width: 100%;
  height: 0;
  text-align: center;
  top: 50%;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 3;
}
.item_img a:hover:after {
  font-size: 40px;
  color: #ff4e3d;
}
.item_img a .BWfade {
  width: 100% !important;
  height: 100% !important;
  z-index: 2;
}
.item_img a img {
  opacity: 0.99;
  filter: alpha(opacity=99);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.item_img img {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.img-intro__left,
.img-full__left {
  float: left;
  margin: 0 18px 9px 0;
  max-width: 90%;
}
.img-intro__right,
.img-full__right {
  float: right;
  margin: 0 18px 9px 0;
  max-width: 90%;
}
.img-intro__costumers img {
  margin-bottom: 20px;
  width: 180px;
}
.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
html {
  background: url(../images/bg11.jpg) 50% 112px repeat-x #5c778b; /*#9e9e9e;*/
}
html#error {
  background-position: 50% top;
}
body {
  background: none;
}
/*======================= TOP =======================*/
/*======================= HEADER =======================*/
#header-row {
  padding: 0px;
  background: none repeat scroll 0% 0% rgb(255, 255, 255); 
  margin-bottom: 25px;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}
#logo {
  padding: 15px 0px 0px;
}
#logo img {
  height: 78px;
}
/*======================= NAVIGATION =======================*/
#navigation-row {
  padding: 0 0 49px;
}
.select-menu {
  display: none;
}
.navigation ul.sf-menu {
  position: relative;
  float: right;
  /*SubMenu Styles*/

  /*Define 1st SubMenu position*/

  /*Define menu width*/

  /*Define SubMenu position*/

  /*Define 2nd+ SubMenu position*/

}
.navigation ul.sf-menu > li {
  padding: 0;
}
.navigation ul.sf-menu > li.active > a,
.navigation ul.sf-menu > li.sfHover > a,
.navigation ul.sf-menu > li.current > a,
.navigation ul.sf-menu > li.active > span,
.navigation ul.sf-menu > li.sfHover > span,
.navigation ul.sf-menu > li.current > span {
  border-top: 2px solid #486E8A; /*#f64f22;*/
  color: #486E8A; /*#3c3c3c;*/
}
.navigation ul.sf-menu > li > a,
.navigation ul.sf-menu > li > span {
  border-top: 2px solid transparent;
  /*text-transform: lowercase;*/
  font-size: 16px;
  line-height: 75px;
  font-family: 'Open Sans', sans-serif;
  color: #008BD0; /*#838383;*/
  height: 95px;
  display: block;
  padding: 16px 20px 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.navigation ul.sf-menu > li > a:hover,
.navigation ul.sf-menu > li > span:hover {
  color: #486E8A; /*#3c3c3c;*/
  border-top: 2px solid #486E8A; /*#f64f22;*/
}
.navigation ul.sf-menu li:hover > ul,
.navigation ul.sf-menu li.sfHover > ul {
  top: 95px;
  left: 50%;
  margin-left: -44.5px;
}
.navigation ul.sf-menu ul {
  width: 89px;
}
.navigation ul.sf-menu li li:hover ul,
.navigation ul.sf-menu li li.sfHover ul {
  top: -10px;
  left: 89px;
  margin-left: 0;
}
.navigation ul.sf-menu li li li:hover ul,
.navigation ul.sf-menu li li li.sfHover ul {
  top: -10px;
  left: 89px;
  margin-left: 0;
}
.navigation ul.sf-menu ul {
  background: #f64f22;
  padding: 10px 0;
}
.navigation ul.sf-menu ul:before {
  position: absolute;
  content: '';
  border-bottom: 5px solid #f64f22;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  top: -5px;
  left: 50%;
  margin-left: -5px;
}
.navigation ul.sf-menu ul ul:before {
  display: none;
}
.navigation ul.sf-menu ul li a,
.navigation ul.sf-menu ul li span {
  font-size: 14px;
  line-height: 34px;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  text-transform: lowercase;
  text-align: center;
  display: block;
  text-decoration: none;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.navigation ul.sf-menu ul li a:hover,
.navigation ul.sf-menu ul li span:hover {
  color: #ffeb7f;
}
.navigation ul.sf-menu ul li.active > a,
.navigation ul.sf-menu ul li.sfHover > a,
.navigation ul.sf-menu ul li.active > span,
.navigation ul.sf-menu ul li.sfHover > span {
  color: #ffeb7f;
}
.navigation ul.sf-menu ul li + li {
  border-top: 1px solid #f98b6d;
}
.navigation ul.sf-menu.sf-vertical {
  width: 89px;
  /*Define 1st SubMenu position*/

}
.navigation ul.sf-menu.sf-vertical li {
  width: 89px;
  margin-bottom: 1px;
}
.navigation ul.sf-menu.sf-vertical li:hover > ul,
.navigation ul.sf-menu.sf-vertical li.sfHover > ul {
  top: -13px;
}
.navigation ul.sf-menu.sf-vertical ul {
  left: 91px;
}
.navigation ul.sf-menu.sf-vertical ul li a,
.navigation ul.sf-menu.sf-vertical ul li span {
  padding: 9px 12px;
}
.navigation ul.sf-menu.sf-navbar {
  height: 95px;
  padding-bottom: 95px;
  margin-bottom: 2px;
  /*Define 1st SubMenu position*/

}
.navigation ul.sf-menu.sf-navbar li:hover > ul,
.navigation ul.sf-menu.sf-navbar li.sfHover > ul {
  top: 97px;
  left: 0;
}
.navigation ul.sf-menu.sf-navbar li ul {
  width: auto;
  padding: 2px 0;
}
.navigation ul.sf-menu.sf-navbar li ul ul.sub-menu {
  width: 89px;
  top: 95px;
}
.search-block {
  text-align: right;
}
.search-block input {
  max-width: 100%;
}
.created {
  background: url(../images/top_bg.png) 50% 0;
  background: rgba(0, 0, 0, 0.41);
  text-align: center;
  padding: 76px 20px 46px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 22px;
  line-height: 30px;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}
.created p {
  padding: 0 0 29px;
}
.created .btn-info {
  color: #3c3c3c;
  text-shadow: none;
  background-color: #f9f9f9;
  background-image: -moz-linear-gradient(top, #ffffff, #f0f0f0);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f0f0f0));
  background-image: -webkit-linear-gradient(top, #ffffff, #f0f0f0);
  background-image: -o-linear-gradient(top, #ffffff, #f0f0f0);
  background-image: linear-gradient(to bottom, #ffffff, #f0f0f0);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff0f0f0', GradientType=0);
  border-color: #f0f0f0 #f0f0f0 #cacaca;
  *background-color: #f0f0f0;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  line-height: 46px;
  padding: 0 24px;
  font-weight: 600;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}
.created .btn-info:hover,
.created .btn-info:focus,
.created .btn-info:active,
.created .btn-info.active,
.created .btn-info.disabled,
.created .btn-info[disabled] {
  color: #3c3c3c;
  background-color: #f0f0f0;
  *background-color: #e3e3e3;
}
.created .btn-info:active,
.created .btn-info.active {
  background-color: #d7d7d7 \9;
}
.created .btn-info:hover {
  background: #486E8A;/*#f64f22;*/
  color: #fff;
}
/*======================= SHOWCASE =======================*/
#showcase-row {
  padding: 0 0 41px;
}
.mod-newsflash-adv .isotope {
  margin: 0 -1.5%;
}
.mod-newsflash-adv .isotope-item {
  padding: 0 1.5%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  float: left;
}
.mod-newsflash-adv .isotope-item.straightDown {
  text-align: center;
}
.top_blocks .item {
  text-align: center;
  background: #fff;
  -webkit-border-radius: 0 0 1000px 1000px;
  -moz-border-radius: 0 0 1000px 1000px;
  border-radius: 0 0 1000px 1000px;
  padding: 27px 0 48px;
  border-top: 8px solid;
}
.top_blocks .item_num0 {
  border-color: #ff1737;
}
.top_blocks .item_num1 {
  border-color: #ff7931;
}
.top_blocks .item_num2 {
  border-color: #a0cb01;
}
.top_blocks .item_num3 {
  border-color: #fedd2a;
}
.top_blocks .item_img {
  margin-bottom: 32px;
}
.top_blocks .item_content {
  padding: 0 13px;
}
.top_blocks .item_introtext {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 20px;
  color: #8b8a8a;
  padding: 25px 40px 0;
  border-top: 1px solid #f2f2f2;
}
.top_blocks .item_introtext p {
  padding-bottom: 20px;
}
/*======================= FEATURE =======================*/
#feature-row .moduletable {
  margin-bottom: 52px;
}
.blocks {
  color: #fff;
}
.blocks .item_img a {
  -webkit-border-radius: 1000px;
  -moz-border-radius: 1000px;
  border-radius: 1000px;
  overflow: hidden;
}
.blocks h3 {
  color: #fff;
}
.blocks .item_introtext {
  max-width: 230px;
}
.blocks .btn-info {
  background: #fff;
}
.blocks .btn-info:hover {
  background: #486E8A; /*#f9b244;*/
}
.offer {
  background: url(../images/offer_bg.png);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 6px;
  padding: 60px 65px 58px 65px;
  font-size: 24px;
  line-height: 30px;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}
.offer .btn-info {
  color: #ffffff;
  text-shadow: none;
  background-color: #d22b3d;
  background-image: -moz-linear-gradient(top, #d83044, #ca2332);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d83044), to(#ca2332));
  background-image: -webkit-linear-gradient(top, #d83044, #ca2332);
  background-image: -o-linear-gradient(top, #d83044, #ca2332);
  background-image: linear-gradient(to bottom, #d83044, #ca2332);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd83044', endColorstr='#ffca2332', GradientType=0);
  border-color: #ca2332 #ca2332 #891822;
  *background-color: #ca2332;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  line-height: 46px;
  padding: 0 24px;
  font-weight: bold;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}
.offer .btn-info:hover,
.offer .btn-info:focus,
.offer .btn-info:active,
.offer .btn-info.active,
.offer .btn-info.disabled,
.offer .btn-info[disabled] {
  color: #ffffff;
  background-color: #ca2332;
  *background-color: #b41f2d;
}
.offer .btn-info:active,
.offer .btn-info.active {
  background-color: #9f1b27 \9;
}
.offer .btn-info:hover {
  color: #ffffff;
  text-shadow: none;
  background-color: #ff9e42;
  background-image: -moz-linear-gradient(top, #ffab4a, #ff8b36);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffab4a), to(#ff8b36));
  background-image: -webkit-linear-gradient(top, #ffab4a, #ff8b36);
  background-image: -o-linear-gradient(top, #ffab4a, #ff8b36);
  background-image: linear-gradient(to bottom, #ffab4a, #ff8b36);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffab4a', endColorstr='#ffff8b36', GradientType=0);
  border-color: #ff8b36 #ff8b36 #e86200;
  *background-color: #ff8b36;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.offer .btn-info:hover:hover,
.offer .btn-info:hover:focus,
.offer .btn-info:hover:active,
.offer .btn-info:hover.active,
.offer .btn-info:hover.disabled,
.offer .btn-info:hover[disabled] {
  color: #ffffff;
  background-color: #ff8b36;
  *background-color: #ff7c1c;
}
.offer .btn-info:hover:active,
.offer .btn-info:hover.active {
  background-color: #ff6e03 \9;
}
.offer p {
  padding-bottom: 26px;
}
/*======================= MAINTOP =======================*/
#maintop-row .container {
  background: #fff;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  overflow: hidden;
  color: #747373;
  margin-bottom: 24px;
}
#maintop-row .container h2 {
  color: #3e3e3e;
  /*border-bottom: 1px solid #486E8A;*/ /*#fd373a;*/
  /*padding: 0 0 27px;*/
  margin-bottom: 36px;
}
.about {
  padding: 65px 96px 76px 480px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url(../images/institutional/polpa-canaa.jpg) 0 100% no-repeat;
}
.about .btn-info {
  color: #ffffff;
  text-shadow: none;
  background-color: #f41905;
  background-image: -moz-linear-gradient(top, #f61c06, #f21404);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f61c06), to(#f21404));
  background-image: -webkit-linear-gradient(top, #f61c06, #f21404);
  background-image: -o-linear-gradient(top, #f61c06, #f21404);
  background-image: linear-gradient(to bottom, #f61c06, #f21404);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff61c06', endColorstr='#fff21404', GradientType=0);
  border-color: #f21404 #f21404 #a70e03;
  *background-color: #f21404;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  line-height: 44px;
  padding: 0 26px;
  font-weight: 600;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}
.about .btn-info:hover,
.about .btn-info:focus,
.about .btn-info:active,
.about .btn-info.active,
.about .btn-info.disabled,
.about .btn-info[disabled] {
  color: #ffffff;
  background-color: #f21404;
  *background-color: #d91204;
}
.about .btn-info:active,
.about .btn-info.active {
  background-color: #c01003 \9;
}
.about .btn-info:hover {
  background: #f64f22;
  color: #fff;
}
.about p {
  padding-bottom: 32px;
}
/*======================= CONTENT TOP =======================*/
/*======================= CONTENT =======================*/
#content-row .container {
  background: #fff;
  -webkit-border-radius: 30px 30px 0 0;
  -moz-border-radius: 30px 30px 0 0;
  border-radius: 30px 30px 0 0;
  overflow: hidden;
  padding: 79px 0 0;
}
#content-row .content-inner > div:first-child {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 96px;
}
#content-row .content-inner > div:last-child {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 96px;
}
#content-row h3 {
  margin-bottom: 29px;
}
.category_desc {
  font-size: 20px;
  line-height: 28px;
  color: #2f2f2f;
  font-family: 'Open Sans', sans-serif;
  padding: 0;
}
.page-category__about h4 {
  color: #2f2f2f;
  font-size: 24px;
}
.page-category__about .row-0 .item {
  font-style: italic;
}
.page-category__about .row-1 .item p {
  padding-bottom: 14px;
}
#component {
  min-height: 0;
  padding-bottom: 54px;
}
.container-fluid {
  padding: 0 !important;
}
.item {
  margin-bottom: 19px;
}
.item:after {
  content: '';
  display: block;
  clear: both;
}
.page-header {
  border: none;
  padding: 0;
  margin: 0;
}
.item_info_dl {
  margin: 0 0 22px;
}
.item_info_dl dd {
  margin: 0;
  display: inline;
  color: #486E8A; /*#ff4e3d;*/
}
.item_info_dl dd > * {
  display: inline;
}
.item_icons.btn-group.pull-right {
  margin: 0px 0 10px 10px;
  position: relative;
  z-index: 10;
}
/*===== Gallery Page ======*/
ul.gallery {
  margin: 0 0 0 -20px;
}
ul.gallery .gallery-item {
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 0 0 20px;
  float: left;
  list-style: none;
}
ul.gallery .gallery-item .item_img {
  margin-right: 0;
  float: none;
  max-width: 100%;
}
ul.gallery .gallery-item.straightDown {
  float: none;
}
ul.gallery .gallery-item .view {
  overflow: hidden;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
ul.gallery .gallery-item .view .item_title {
  margin: 0;
  font-size: 20px;
  line-height: 24px;
}
ul.gallery .gallery-item .view p {
  padding: 0;
}
.gallery-item .view .content * {
  color: inherit;
}
.gallery-item .view .content a:hover {
  color: #999;
}
/*===== Testimonials Page ======*/
.page-category__testimonials .item {
  margin-bottom: 30px;
}
blockquote {
  padding: 0;
  margin: 0;
  border-left: none;
}
blockquote p {
  margin-bottom: 0;
  padding: 0;
  font-size: inherit;
  font-weight: normal;
  line-height: inherit;
}
blockquote p:before {
  content: '"';
}
blockquote p:after {
  content: '"';
}
blockquote small {
  text-align: right;
}
/*===== Blog Page ======*/
.page-blog .info,
.page-item__blog .info {
  float: left;
}
.page-blog .item_published,
.page-item__blog .item_published {
  width: 74px;
  line-height: 27px;
  padding: 13px 0 9px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-align: center;
  border: 4px solid #486E8A; /*#ff4e3d;*/
  color: #7c7c7c;
  font-family: 'Bevan', cursive;
  text-transform: uppercase;
  margin-right: 12px;
}
.page-blog .item_published strong,
.page-item__blog .item_published strong {
  font-size: 36px;
  color: #2f2f2f;
  display: block;
  font-weight: normal;
}
.page-blog .kmt-readon,
.page-item__blog .kmt-readon {
  margin-top: 7px;
  margin-right: 12px;
  width: auto;
}
.page-blog .kmt-readon a,
.page-item__blog .kmt-readon a {
  width: 82px;
  text-align: center;
  clear: left;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: #ff4e3d;
  color: #fff;
  font-family: 'Bevan', cursive;
  font-size: 36px;
  position: relative;
  display: block;
  line-height: 66px;
}
.page-blog .kmt-readon a:after,
.page-item__blog .kmt-readon a:after {
  position: absolute;
  top: 100%;
  left: 24px;
  border-top: 6px solid #ff4e3d;
  border-left: 8px solid #ff4e3d;
  border-right: 8px solid transparent;
  border-bottom: 6px solid transparent;
  content: '';
}
.page-blog .item_content,
.page-item__blog .item_content {
  margin-left: 94px;
}
.page-blog h4,
.page-item__blog h4 {
  color: #2f2f2f;
  font-family: 'Open Sans', sans-serif;
  line-height: 28px;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 5px;
}
.page-blog .item_content {
  margin-left: 0;
  overflow: hidden;
}
.tags {
  clear: both;
}
.addthis_toolbox {
  padding-top: 14px;
}
/*======================= CONTENT BOTTOM =======================*/
/*======================= ASIDE RIGHT =======================*/
.archive-module,
.categories-module,
.mod-menu .nav.menu,
.list1 ul {
  margin: 0 0 15px;
}
.archive-module li,
.categories-module li,
.mod-menu .nav.menu li,
.list1 ul li {
  list-style: none;
  padding: 0 0 2px 23px;
  overflow: hidden;
  background: url(../images/list_marker.png) 0 4px no-repeat;
}
.archive-module li a,
.categories-module li a,
.mod-menu .nav.menu li a,
.list1 ul li a {
  color: #434343;
  display: inline;
  background: none !important;
}
.archive-module li a:hover,
.categories-module li a:hover,
.mod-menu .nav.menu li a:hover,
.list1 ul li a:hover {
  color: #ff4e3d;
}
.tagspopular ul {
  margin: 0;
}
.tagspopular ul li {
  list-style: none;
  display: inline-block;
  padding: 0 15px 12px 0;
}
#aside-right .moduletable {
  margin-bottom: 60px;
}
#aside-right .sidebar {
  margin-bottom: 0;
}
#aside-right .sidebar .item {
  margin-bottom: 60px;
}
/*======================= MAINBOTTOM =======================*/
/*======================= BOTTOM =======================*/
/*======================= FOOTER =======================*/
#footer-row .container {
  background: url();
  background: url(../images/footer_bg.png);
  background: rgba(52, 52, 52, 0.66);
  padding: 40px 0 39px;
}
.footer_menu .mod-menu .nav.menu {
  margin: 0;
  padding: 15px 0 0 57px;
  line-height: 19px;
}
.footer_menu .mod-menu .nav.menu li {
  font-family: 'Open Sans', sans-serif;
  line-height: 19px;
  padding: 0;
  display: inline-block;
  text-transform: lowercase;
  background: none;
}
.footer_menu .mod-menu .nav.menu li a {
  color: #fff;
}
.footer_menu .mod-menu .nav.menu li a:hover {
  color: #f9b244;
}
.footer_menu .mod-menu .nav.menu li.current a {
  color: #f9b244;
}
.footer_menu .mod-menu .nav.menu li + li {
  border-left: 1px solid #a5a5a5;
  padding-left: 21px;
  margin-left: 22px;
}
.networks {
  padding-left: 16px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.mod-custom__networks {
  color: #fff;
  font-size: 11px;
  line-height: 16px;
}
#copyright-row {
  padding: 43px 0 32px;
}
#copyright {
  color: #fff;
  font-family: 'Bevan', cursive;
  font-size: 18px;
}
#copyright .year:after {
  content: '';
  width: 4px;
  height: 4px;
  margin: 0 4px 0 8px;
  display: inline-block;
  vertical-align: middle;
  background: url(../images/footer_marker.png);
}
#copyright a {
  color: inherit;
}
#copyright a:hover {
  color: #000;
}
#footer-wrapper {
  background: url(../images/footer_shadow.png) 50% 0 no-repeat #5d5d5d;
}
/*===== Social Media ======*/
.social {
  margin: 0 -8px 0 0;
  padding: 7px 0 0;
}
.social li + li {
  margin: 0 0 0 13px;
}
.social li a {
  width: 35px;
  height: 35px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-size: 0px;
  line-height: 0px;
  overflow: hidden;
  text-indent: 9999px;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.social li a:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}