{% extends "base.html" %}

{% load i18n %}
{% load thumbnail %}

{% block nav_products %} class="active"{% endblock %}

{% block content %}

    <div class="k-content products">
        <div class="row-fluid">
            <span class="span8">
                <h3>{% trans 'Nossos Produtos' %} {% if search %}<small>{% trans 'busca por' %} "{{ search }}"</small>{% endif %}</h3>
            </span>
            <span class="span4">
                <div class="search-form">
                    <form role="form" action="." method="get">
                        <div class="input-append">
                          <input class="span10" id="search" type="text" name="search" placeholder="{% trans 'Buscar' %}">
                          <button class="btn btn-info" type="submit"><i class="icon-search visible-phone"></i><span class="hidden-phone"><i class="icon-search"></i></span></button>
                        </div>
                    </form>
                </div>
            </span>
        </div>

        {% for product in products %}
        <div class="row-fluid">
            <!-- begin:produtos -->
            <div class="span12 products">
                <div class="column-posts row-fluid">
                    <div class="span4">
                        <div class="thumbnail">
                            <div class="thumbnail-body">
                                <div class="wrapper-image">
                                    {% thumbnail product.image "279x279" crop="center" format="PNG" as im %}
                                    <img src="{{ im.url }}" alt="{{ product.name }}">
                                    {% empty %}
                                    <p>{% trans 'Sem Imagem' %}</p>
                                    {% endthumbnail %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="span8 pull-right">
                        <h4>{{ product.product_group }} - {{ product.name }}</h4>
                        <p>{{ product.description }}</p><br>
                        <table cellspacing="0" width="100%">
                            <tbody>
                                <tr>
                                    <th>{% trans 'Descrição' %}</th>
                                    <th>{% trans 'Quantidade' %}</th>
                                    <th>% {% trans 'Valor Diário' %}</th>
                                </tr>
                                {% for info in infos %}
                                    {% if info.product_id == product.pk %}
                                    <tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}no{% endif %}">
                                        <td>{{ info.get_description_display }}</td>
                                        <td align="center">{{ info.amount }}</td>
                                        <td align="center">{{ info.value }}</td>
                                    </tr>
                                    {% endif %}
                                {% empty %}
                                    <tr>
                                        <td colspan="3" align="center">
                                            {% trans 'Nenhuma informação encontrada' %}.
                                        </td>
                                    </tr>
                                {% endfor %}
                                <tr>
                                    <td colspan="3" >
                                        <small>
                                        {% blocktrans %}
                                        *Valores diários de referência com base em uma
                                        dieta de 2.000kcal ou 8.400kj para adultos.
                                        Seus valores diários podem ser maiores dependendo
                                        de suas necessidades energéticas. **Valores
                                        não especificados.
                                        {% endblocktrans %}
                                        </small>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- break -->
            </div>
            <!-- end:produtos -->
        </div>
        {% empty %}
        <p>{% trans 'Nenhum produto encontrado' %}.</p>
        {% endfor %}

        <!--begin:pagination-->
        <div class="row-fluid">
            <div class="span12">
                <div class="pagination pagination-centered">
                    <ul>
                        {% if products.has_previous %}
                            <li><a href="?page={{ products.previous_page_number }}">&laquo;</a></li>
                        {% endif %}

                        <li><a href="{{ products.number.url }}">{% trans 'Página' %} {{ products.number }} {% trans 'de' %} {{ products.paginator.num_pages }}</a></li>

                        {% if products.has_next %}
                            <li><a href="?page={{ products.next_page_number }}">&raquo;</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        <!--end:pagination-->

    </div>


{% endblock content %}
